<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <title>出错了....</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
        <div class="jumbotron">
            <div style="margin-left: 630px">
                <h1 style="margin-left: 15px">出错啦!</h1>
                <p th:text="${msg}">抱歉，你做访问的页面不存在</p>
                <p style="margin-left: 50px"><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>

</body>
</html>