<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.postbar.mapper.QuestionMapper" >
  <select id="getlistBytags" parameterType="com.example.postbar.entity.Question"  resultType="com.example.postbar.entity.Question">
    select *
    from question
    where id!=#{id} and tag regexp #{tag}
  </select>

</mapper>